name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      dynamodb:
        image: "amazon/dynamodb-local"
        ports:
          - 8000

      s3:
        image: "adobe/s3mock"
        ports:
          - 9090

    steps:
      ###
      # Checkout using GitHub's checkout action
      - uses: actions/checkout@v2

      ###
      # Setup Ruby - this needs to match the version in the Gemfile
      - name: Set up Ruby
        uses: actions/setup-ruby@5f29a1cd8dfebf420691c4c9a0e832e2fae5a526
        with:
          ruby-version: 2.6.6

      ###
      # Caching using GitHub's caching action
      - name: Cache Bundler
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      ###
      # Install bundler and yarn dependencies
      - name: Install dependencies
        env:
          EXERCISM_ENV: test
          EXERCISM_CI: true
          DYNAMODB_PORT: ${{ job.services.dynamodb.ports['8000'] }}
          S3_PORT: ${{ job.services.s3.ports['9090'] }}
        run: |
          gem install bundler:2.1.4
          bundle config path vendor/bundle # This is needed for the caching above
          bundle install --jobs 4 --retry 3
          bundle exec setup_exercism_config
          bundle exec setup_exercism_local_aws

      ###
      # Setup code climate
      - name: Setup Code Climate test-reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      ###
      # Run the tests
      - name: Run Ruby tests
        env:
          EXERCISM_ENV: test
          EXERCISM_CI: true
          DYNAMODB_PORT: ${{ job.services.dynamodb.ports['8000'] }}
          CAPTURE_CODE_COVERAGE: true
        run: |
          bundle exec rake test
          ./cc-test-reporter format-coverage -t simplecov -o codeclimate.backend.json coverage/backend/.resultset.json

      ###
      # Publish the coverage to CodeClimate
      - name: Publish code coverage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        env:
          GIT_BRANCH: ${GITHUB_REF/refs\/heads\//}
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        run: |
          ./cc-test-reporter upload-coverage -i codeclimate.*.json
